
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CalculatorResult</title>
</head>
<body>
    <div>
        @ViewBag.Hours + @ViewBag.Minutes + @ViewBag.Seconds = @ViewBag.Total
    </div>
</body>
</html>
