@model WebApplication2.Models.Person

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{

    //@Html.EditorForModel();
    @Html.EditorFor(model => model.FirstName)
    @Html.EditorFor(model => model.LastName)
    @Html.EditorFor(model => model.Age)
    <input type="submit" value="Gem" />
}

