
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person</title>
</head>
<body>
    <div>
        id = @ViewBag.id <br />
        navn = @ViewBag.Name
    </div>
</body>
</html>
