@{

}

<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Name</title>
</head>
<body>
    <div>
        Navn: @Model.Name
    </div>
    <div>
        Alder: @Model.Age
    </div>
    <div>
        Fødselsdag: @Model.Birthday
    </div>
</body>
</html>